@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.header {
  position: fixed;
  z-index: 1000;
  height: 10vh;
  width: 100vw;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  padding-top: 2vh !important;
  padding-bottom: 2vh !important;
  background-color: black;
}

.header-scrolled {
  height: 6vh !important;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  padding-top: 0 !important;
  background-color: black;
  padding-top: 3px !important;
}

.slick-slide img {
  display: block;
  width: 180px !important;
  height: 54px !important;
}

.h-6 {
  width: 3rem !important;
}
.w-6 {
  height: 3rem !important;
}

.services img {
  object-fit: cover !important;
  position: absolute !important;
  width: 960px !important;
  height: 560px !important;
  z-index: 10;
  transition: transform 0.5s ease;
}
.services img:hover {
  transform: scale(1.5);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

@media screen and (max-width: 639px) {
  .hero-title {
    font-size: 2.8rem !important;
  }
  .space-adjustment {
    padding-top: 6rem !important;
  }
}
